@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.homePage{
  background-image: url('./assets/background.png');
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 0;
}

.bgUILayer{
  background: linear-gradient(to bottom, #e6f1ff34,#e6efff81);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 0 1vw;
  position: sticky;
  z-index: 2;
  background: linear-gradient(to bottom, #fff6e6ba,#fff6e688,#fff6e66a, transparent);
  
}

#company{
  display: flex;
  align-items: center;
  padding: 0.5vh;
  background-color: rgb(63, 0, 0);
  position: sticky;
  width: 0;
  z-index: 3;
}

#company_name{
  position: sticky;
  margin: 0 0 0 1.3vh;
  font-size: 3vh;
  color: rgb(29, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  z-index: 3;
}

#navlinks{
  text-align: right;
  width: 100%;
  padding: 0 0.5vh;
  position: sticky;
  z-index: 3;
}

#navlinks ul{
  list-style: none;
  font-family: 'Forum';
  color: rgb(72, 19, 19);
  font-size: 2.5vh;
  font-weight: 700;
}

#navlinks li{
  padding: 0.5vh;
}

.homePageBody{
  position: absolute;
  width: 100%;
  align-items: center;
  text-align: center;
  z-index: 3;
  padding: 2vh 0;
}

.homePageBody h1{
  font-family: 'Bebas Neue';
  font-size: 4vw;
  font-weight: 400;
  letter-spacing: 1.5vh;
  margin: 10vh 0 0 0;
  word-spacing: 2.5vh;
  color: #002564c9;
}

.homePageBody h3{
  font-family: 'Forum';
  font-size: 2vw;
  font-weight: 700;
  color: #01215ac9;
  margin: 1vh 0;
}

.homePageBody h2{
  font-family: 'Bebas Neue';
  font-size: 8vw;
  font-weight: 400;
  letter-spacing: 5vh;
  word-spacing: 2.5vh;
  color: #002057;
  margin: 0;
}

.homePageBody p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3vh;
  word-spacing: 3vh;
  font-weight: 600;
  align-items: center;
  letter-spacing: 0.5vh;
  color: #d8e6ff;
  background-color: #020a3d79;
  padding: 3vh;
}

.homePageBody button{
  background-color: #98beffb4;
  border-color: #e3edff;
  width: 15vh;
  height: 5vh;
  font-family: 'Forum';
  font-weight: 700;
  letter-spacing: 0.2vh;
  font-size: 3vh;
  color: #00173f;
  cursor: pointer;
}

.footer{
  position: sticky;
  margin: 75vh 0 0 0;
  height: 5vh;
  padding: 0 1.5vh;
  display: flex;
  align-items: center;
  font-size: 2vh;
}

.quote-page{
  background-image: url('./assets/quote-form-bg.png');
  padding: 0;
  margin: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  font-family: 'Forum';
  text-align: center;
  font-family: 'Bebas Neue';
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 0;
}

.quote-page::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
}


.quote-title{
  letter-spacing: 5px;
  font-size: 8vh;
  margin-bottom: 0;
  color: black;
  position: relative;
  z-index: 1;
}

.quote-subtitle{
  margin-top: 0;
  color: rgb(42, 42, 42);
  font-size: 4vh;
  letter-spacing: 1px;
  margin-bottom: 5vh;
  position: relative;
  z-index: 1;
}

.quote-page form{
  text-align: center;
  position: relative;
  z-index: 1;
}

input{
  margin-bottom: 1vh;
  width: 30vh;
  margin-top: 1vw;
  border-radius: 5px;
  border-color: #000000;
  border-width: 1px;
  height: 20px;
  background-color: #ffffffa1;
}

input::placeholder{
  font-family: 'Forum';
  color: rgb(35, 35, 35);
  font-size: 2.5vh;
  padding: 5px;
}

.quote-page label{
  display: block;
  margin-top: 3vh;
  letter-spacing: 1px;
  font-size: 3vh;
  color: #000000;
  font-family: 'Forum';
  font-weight: bold;
}

.quote-page button{
  margin-top: 3vh;
  border-radius: 10px;
  border-color: #222222;
  border-width: 1.5px;
  width: 100px;
  height: 27px;
  background-color: #000000ad;
  color: #ffffff;
  cursor: pointer;
}

.successQuotePage{
  text-align: center;
  display: block;
  position: fixed;
  background-color: #cbfffeca;
  width: 100%;
  height: 100%;
}

.successQuotePage h1{
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  margin-top: 30vh;
  font-size: 7vh;
  padding: 0;
}

.successQuotePage h3{
  font-family: 'Forum';
  letter-spacing: 1px;
  font-size: 3vh;
}

.successQuotePage .options-success{
  display: block;
  font-family: 'Bebas Neue';
  font-size: 2vh;
  align-items: center;
  margin-top: 5vh;
  font-family: 'Forum';
  font-weight: 900;
  font-size: 2.5vh;
  background-color: #0000007b;
  padding: 5vh;
}

.successQuotePage .options-success a{
  padding: 20px;
  color: #c8d6f0;
}